{% extends 'base.html.twig' %}

{% block title %}ghfgh
{% endblock %}

{% block body %}

	<div class="container_1">


		<main
			class="main">

			{# <input class="input_formulaire_accueil" name="lieu" placeholder="Département, ville...">
												<a href="{{ path('search') }}">
													Filtrer
												</a>
											</input>
											<input class="input_formulaire_accueil" name="medecin_etablissement" placeholder="Médecin, établissement..."></input> #}


			<h1 class="prendre_rdv_accueil">Réservez votre consultation chez un professionnel de santé
			</h1>
			<div>
				{{render(controller('App\\Controller\\SearchController::search'))}}
			</div>
			{# <div class="container_formulaire_accueil">
			
			
						<form id="formulaire_accueil" action="">
			
							<select class="select_formulaire_accueil" name="">
								<option class="op_accueil" placeholder="Spécialité" value="">Spécialité</option>
								<option class="op_accueil" value="">2</option>
								<option class="op_accueil" value="">3</option>
							</select>
							<input class="input_formulaire_accueil" name="lieu" placeholder="Département, ville..."></input>
						<input class="input_formulaire_accueil" name="medecin_etablissement" placeholder="Médecin, établissement..."></input>
			
					<button class="valider_accueil">
						<span class="valider2_accueil">Rechercher</span>
						<div class="loupe_accueil"></div>
					</button>
				</form>
			</div> #}

		</div>

		<div class="container_2_accueil">
			<section class="section_1_accueil">

				<section class="fiche_medecin fm_child1">
					<h2 class="h2_note_med">
						Les médecins les mieux notés !
					</h2>
				</section>

				<section class="fiche_medecin fm_child2">


					<div class="fiche_haut">

						<div class="photo_fichemed"></div>

						<article class="para_fiche_container">
							<p class="para_fiche">
								<span class="nom_du_med_fiche">DrJeanJambon</span>
								<br>
								Médecin généraliste
								<br>
								<br>
							</p>
							<p>
								<br>
								7 Rue de la Poutre
								<br>
								78320 La Verrière
							</p>
						</article>

					</div>

					<div class="fiche_medbas">

						<button class="bouton_rdv_accueil">Prendre un rendez-vous</button>
						<button class="bouton_ensavoirplus">En savoir plus</button>
						<article class="avis_fichemed">
							Avis :
						</article>
					</div>

				</section>

				<section class="fiche_medecin fm_child3"></section>

				<section class="fiche_medecin fm_child4"></section>

				<section class="espace_marketing fm_child5">
					<div class="photomedecin_marketing"></div>
					<p class="marketing_txt">Accédez aux disponibilités de dizaines de milliers de professionnels de santé.</p>
					<p></p>
				</section>

				<section class="espace_marketing fm_child6">
					<div class="photomedecin_marketing pm2"></div>
					<p class="marketing_txt">En tant que membre, vous pouvez recommander un spécialiste à la communauté, pour une maladie, un test diagnostique, un traitement médical ou chirurgical.</p>
					<p></p>
				</section>


			</main>
		</div>
		<div class="container_2_accueil">
			<section class="section_1_accueil"></section>
		</div>
		<h1 class="display-4 text-center my-5">
			{{ title }}</h1>
		<div class="row">

			{% for data in medecins %}

				{# {{ dump(data)}}  #}


				<div class="col-md-4">
					<div
						class="card mb-4 shadow-sm">
						{#<img src="{{ asset('uploads/images/' ~ data.image) }}" alt="{{data.title}} ">#}

						<div class="card-body">

							<h4 class="text-center">
								{{data.nom}}
							</h4>
							<hr>
							<h4 class="text-center">
								{{data.ville}}
							</h4>
							<hr>

							{# <p class="card-text">{{ data.ville }}</p> #}
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group mr-2">
									<a href="{{ path('site_medecin', {'id': data.id}) }}" class="btn btn-sm btn-outline-secondary">En savoir plus</a>

								</div>
								<div class="btn-group mr-2">
									<a href="{{ path('prise_rdv', {'id': data.id}) }}" class="btn btn-sm btn-outline-secondary">Prendre un RDV</a>

								</div>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>
	{% endblock %}
