{% extends 'base.html.twig' %}

{% block title %}DocAuTop
{% endblock %}

{% block body %}

	<div class="container_1">
       

		<main
			class="main">


			{# <input class="input_formulaire_accueil" name="lieu" placeholder="Département, ville...">
												<a href="{{ path('search') }}">
													Filtrer
												</a>
											</input>
											<input class="input_formulaire_accueil" name="medecin_etablissement" placeholder="Médecin, établissement..."></input> #}


			<h1 id="prendre_rdv_accueil_id" class="prendre_rdv_accueil">
			</h1>

			<div class="container_formulaire_accueil">

			
			
						<form id="formulaire_accueil" action="">
	
						<input class="input_formulaire_accueil" name="medecin_etablissement" placeholder="Rechercher un médecin..."></input>
			
					<button class="valider_accueil">
						<span class="valider2_accueil"><a href="{{ path('search') }}" class="valider2_accueil">Rechercher</a></span>
						<div class="loupe_accueil"></div>
					</button>
				</form>
			</div> 

		</div>

		<div class="container_2_accueil">
			<section class="section_1_accueil">

				<section class="fiche_medecin fm_child1">
					<h2 class="h2_note_med">
						Les médecins les mieux notés!
					</h2>
				</section>

				<section id="fmfmc2" class="fiche_medecin fm_child2">


					<div class="fiche_haut">

						<div class="photo_fichemed2"></div>

						<article class="para_fiche_container">
							<p class="para_fiche">

								<span class="nom_du_med_fiche">Docteur Peter Parker</span>
								<br>
									Dentiste
								 
								<br>
					
							</p>
							<p>
								 12 rue des marcassins
								  75010 Paris
							</p>
						</article>

					</div>

					<div class="fiche_medbas">

						<button class="bouton_rdv_accueil"><a href="{{ path('prise_rdv', {'id': 6 }) }}">Prendre un rendez-vous</a></button>
						<button class="bouton_ensavoirplus"><a href="{{ path('site_medecin', {'id': 6}) }}">En savoir plus</a></button>
						<article class="avis_fichemed">
							Note: 4.8/5
						</article>
					</div>

				</section>

				<section id="fmfmc3" class="fiche_medecin fm_child3">
				<div class="fiche_haut">

						<div class="photo_fichemed3"></div>

						<article class="para_fiche_container">
							<p class="para_fiche">
								<span class="nom_du_med_fiche">Docteur John Doudou</span>
								<br>
									Ophtalmologiste	
				
								<br>
						
							</p>
							<p>
							 23 rue de la buche
								  78460 Chevreuse
							</p>
						</article>

					</div>

					<div class="fiche_medbas">

						<button class="bouton_rdv_accueil"><a href="{{ path('prise_rdv', {'id': 7 }) }}">Prendre un rendez-vous</a></button>
						<button class="bouton_ensavoirplus"><a href="{{ path('site_medecin', {'id': 7}) }}">En savoir plus</a></button>
						<article class="avis_fichemed">
							Note:4.7/5
						</article>
					</div>
				</section>

				<section class="fiche_medecin fm_child4">
				  <div class="fiche_haut">

						<div class="photo_fichemed4"></div>

						<article class="para_fiche_container">
							<p class="para_fiche">
								<span class="nom_du_med_fiche">Docteur Jean Jean</span>
								<br>
								 Dentiste
								 
								<br>
					
							</p>
							<p>
								 12 route de la Tuile
								  91000 Evry	
							</p>
						</article>

					</div>

					<div class="fiche_medbas">

						<button class="bouton_rdv_accueil"><a href="{{ path('prise_rdv', {'id': 8 }) }}">Prendre un rendez-vous</a></button>
						<button class="bouton_ensavoirplus"><a href="{{ path('site_medecin', {'id': 8}) }}">En savoir plus</a></button>
						<article class="avis_fichemed">
							Note: 4.7/5
						</article>
					</div>
				</section> 

				<section class="espace_marketing fm_child5">
					<div class="photomedecin_marketing"></div>
					<p class="marketing_txt">Accédez aux disponibilités de dizaines de milliers de professionnels de santé.</p>
					<p></p>
				</section>

				<section class="espace_marketing fm_child6">
					<div class="photomedecin_marketing pm2"></div>
					<p class="marketing_txt">En tant que membre, vous pouvez recommander un spécialiste à la communauté, pour une maladie, un test diagnostique, un traitement médical ou chirurgical.</p>
					<p></p>
				</section>
			</main>
		</div>

	{% endblock %}
