{% extends 'base.html.twig' %}

{% block title %}

	INSCRIPTION

{% endblock %}


{% block body %}

 <div class="big_container_inscription"> 
 <div class="filter_blur_inscription"></div> 

  <div class="container_inscription"> 


   <div class="inscription"> 

	<h1 class="display-4 text-center my-5 titre1_inscription">
		Nouveau sur Doc au top ?
	</h1>
	 <div class="logo_connexion"></div>
	<h2 class="display-4 text-center my-5 titre2_inscription">
		Saisissez vos informations pour continuer.
	</h1>



	{{ form_start(formInscription, {'attr': {'class': 'col-md-4 mx-auto formulaire_inscription'} }) }}

	{{ form_row(formInscription.nom, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.prenom, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.telephone, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.adresse, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.code_postal, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.ville, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.email, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.password, {'attr': {'class': "email_inscription_input"} } ) }}

	{{ form_row(formInscription.confirm_password, {'attr': {'class': "email_inscription_input"} } ) }}

	<button type="submit" class="btn btn-secondary bcontinuer">S'inscrire</button>

	{{ form_end(formInscription) }}
   </div>

  </div>  

 </div>

{% endblock %}
