{% extends "base.html.twig" %}

{% block title %}
	Formulaire d'inscription des médecins
{% endblock %}

{% block body %}

	<h1 class="display-4 text-center my-5">
		Formulaire d'inscription
	</h1>


	{{ form_start(formMedecinInscription, {'attr': {'class': 'col-md-4 mx-auto'} }) }}

	{{ form_row(formMedecinInscription.nom, {'label': 'Nom de médecin'} ) }}

	{{ form_row(formMedecinInscription.prenom, {'label' : 'Prenom de médecin' }) }}
	{{ form_row(formMedecinInscription.centre_medical, {'label' : 'centre médicale' }) }}

	{{ form_row(formMedecinInscription.telephone, {'label': 'telephone'} ) }}

	{{ form_row(formMedecinInscription.adresse, {'label': 'adresse'} ) }}

	{{ form_row(formMedecinInscription.code_postal, {'label': 'Code postal' } ) }}

	{{ form_row(formMedecinInscription.ville, {'label': 'Ville'}) }}
	{{ form_row(formMedecinInscription.horaires, {'label': 'Horaires'}) }}
	{{ form_row(formMedecinInscription.specialite, {'label': 'specialité'}) }}
	{{ form_row(formMedecinInscription.departement, {'label': 'département'}) }}

	{{ form_row(formMedecinInscription.email, {'label': 'adresse email '} ) }}

	{{ form_row(formMedecinInscription.password, {'label': 'Mot de passe'}) }}

	{{ form_row(formMedecinInscription.confirm_password, {'label': "Confirmation du mot de passe"} ) }}

	<button type="submit" class="btn btn-secondary">S'inscrire</button>

	{{ form_end(formMedecinInscription) }}


{% endblock %}
