{% extends "home.html.twig" %} 

{% block body %}

 <h1 class="display-4 text-center my-5">BACKOFFICE | Gestion des utilisateurs</h1>

    {% for message in app.flashes('success') %}

        <div class="col-md-3 bg-success p-4 rounded mx-auto text-center text-white mb-3">
         {{ message }}
        </div>

    {% endfor %}

    <table class="table table-bordered table-hover text-center">

        <tr>

            {% for oneColonne in colonnes %}

                    {% if oneColonne != "password" %}
                    
                    <th> {{ oneColonne|upper }}</th> 

                    {% endif %}

            {% endfor %}

        </tr>

            {% for oneUtilisateur in utilisateursBdd %}

               <tr>
                  <td>{{ oneUtilisateur.id }}</td>
                  <td>{{ oneUtilisateur.nom }}</td>
                  <td>{{ oneUtilisateur.prenom }}</td>
                  <td>{{ oneUtilisateur.telephone }}</td>
                  <td>{{ oneUtilisateur.adresse }}</td>
                  <td>{{ oneUtilisateur.codePostal }}</td>
                  <td>{{ oneUtilisateur.ville }}</td>
                  <td>{{ oneUtilisateur.email }}</td>
                  {% if  oneUtilisateur.roles[0] == 'ROLE_ADMIN' %}
                    <td>Administrateur</td>
                    {% else %}
                    <td>Utilisateur</td>
                    {% endif %}
                    
                  <td><a href="{{ path('admin_edit_user', {'id': oneUtilisateur.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a></td>

                  <td><a href="{{ path('admin_remove_user', {'id': oneUtilisateur.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous vraiment supprimer cet utilisateur ?'))"><i class="fas fa-trash-alt"></i></a></td>               
                  
               </tr>

            {% endfor %}

    </table>

{% endblock %}