{% extends "home.html.twig" %}

{% block title %}
    BACKOFFICE | Gestion Spécialités
{% endblock %}

{% block body %}
     
       {% if Specialite %}

       <h1 class="display-4 text-center my-5">Modification <span class="text-info">{{ Specialite }}</span></h1>

      {% else %}

     <h1 class="display-4 text-center my-5">Nouvelle spécialité</h1>
     
      {% endif %}
     {{ form_start(formSpecialite, {'attr': {'class': 'col-md-5 mx-auto'}} ) }}
        
        {{ form_row(formSpecialite.nom) }}

        {{ form_row(formSpecialite.description) }}


        <button class="btn btn-secondary mb-5">Enregistrer la spécialité</button>

     {{ form_end(formSpecialite) }}

{% endblock %}