{% extends "base.html.twig" %}

{% block title %}
    BACKOFFICE | Gestion Département
{% endblock %}

{% block body %}



      {% if idDepartement %}

         <h1 class="display-4 text-center my-5">Modification département n° <span class="text-info">{{ idDepartement }}</span></h1>

      {% else %}

     <h1 class="display-4 text-center my-5">Nouveau département</h1>

      {% endif %}

     {{ form_start(formDepartement, {'attr': {'class': 'col-md-5 mx-auto'}} ) }}
        
        {{ form_row(formDepartement.nom) }}

        {{ form_row(formDepartement.numero) }}


        <button class="btn btn-secondary mb-5">Enregistrer le département</button>

     {{ form_end(formDepartement) }}

{% endblock %}