{% extends "home.html.twig" %}

{% block title %}
    BACKOFFICE | Modification membre
{% endblock %}

{% block body %}
 
     <h1 class="display-4 text-center my-5">Modification membre n° <span class="text-info">{{ idUtilisateur }}</span></h1>


     {{ form_start(formInscription ,{'attr': {'class': 'col-md-3 mx-auto'}} ) }}
        
        {{ form_row(formInscription.nom ) }}

        {{ form_row(formInscription.prenom ) }}

        {{ form_row(formInscription.adresse ) }}

        {{ form_row(formInscription.telephone ) }}

        {{ form_row(formInscription.code_postal) }}

        {{ form_row(formInscription.ville ) }}

        {{ form_row(formInscription.email ) }}



        <button type="submit" class="btn btn-secondary mb-5">Modifier le membre</button>

     {{ form_end(formInscription) }}

{% endblock %}