{% extends "home.html.twig" %}

{% block title %}
    BACKOFFICE | Gestion des avis

{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5">BACKOFFICE | Gestion des avis </h1>
    

       {% for message in app.flashes('success') %}


           <div class="col-md-3 bg-success p-4 rounded mx-auto text-center text-white mb-3">
         {{ message }}
        </div>

           {% endfor %}

     <table class="table table-bordered table-hover text-center">

        <tr>

            {% for oneColonne in colonnes %}

              {% if oneColonne == 'createdAt' %}

                   <th>DATE</th>

               {% else %}

               <th> {{ oneColonne|upper }}</th> 

              {% endif %}

            {% endfor %}

                  <th>MEDECIN</th>

        </tr>
             
            {% for oneAvis in avisBdd %}

               <tr>
                   <td>{{ oneAvis.id }}</td>
                   <td>{{ oneAvis.titre }}</td>
                  <td>{{ oneAvis.auteur }}</td>
                  <td>{{ oneAvis.contenu|striptags }}...</td>
                  <td>{{ oneAvis.noteAccueil }}</td>
                  <td>{{ oneAvis.notePro }}</td>
                  <td>{{ oneAvis.createdAt|date('d/m/Y à H:i:s') }}</td>
                  <td>Docteur {{ oneAvis.Medecins.nom }}</td>

                  <td><a href="{{ path('admin_edit_avis', {'id': oneAvis.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a></td>

                  <td><a href="{{ path('admin_remove_avis', {'id': oneAvis.id}) }}" class="btn btn-danger" onclick="return(confirm('Voulez-vous vraiment supprimer cet avis ?'))"><i class="fas fa-trash-alt"></i></a></td>               
                  
               </tr>

            {% endfor %}

    </table>

{% endblock %}