{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans le BackOffice!{% endblock %}

{% block body %}

  <div class="container">
     
       <h1 class="display-4 text-center my-5">BACKOFFICE</h1>

       <h4 class="text-center mb-5"> Bienvenue 

       {% if app.user %}

          <span class="text-info">{{ app.user.nom }}</span>

        {% endif %}

        dans votre espace personnalisé
        </h4>
        <div class="text-center">

        <a href="{{ path('admin_medecins') }}" class="col-md-4 btn btn-primary mb-2">GESTION DES MEDECINS</a>

        <a href="{{ path('admin_users') }}" class="col-md-4 btn btn-info mb-2">GESTION DES PATIENTS</a>

        <a href="{{ path('admin_departements') }}" class="col-md-4 btn btn-warning mb-2">GESTION DES DEPARTEMENTS</a>

        <a href="{{ path('admin_specialites') }}" class="col-md-4 btn btn-success mb-2">GESTION DES SPECIALITES </a>

        <a href="{{ path('admin_avis') }}" class="col-md-8 btn btn-secondary">GESTION DES AVIS </a>

       </div>
    </div>

{% endblock %}
